body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f3f4f6;
    font-family: Arial, sans-serif;
}

.container {
    background: white;
    padding: 25px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    text-align: center;
    width: 300px;
}

input {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 16px;
    margin-bottom: 15px;
}

input:focus {
    border-color: #4f46e5;
}

h1 {
    font-size: 20px;
    color: #333;
}
h3 {
    
    font-size: 13px;
    color: #1198dc;
}

span {
    font-size: 20px;
    /* color: #000000; */
    font-weight: bold;
}